* {
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    /* background: #ccc; */
    margin: auto;
    overflow: hidden;
}


/* ----- -------------------- HEADER- ------------------------*/

header {
    background: url('../img/Fondo-min.jpg') #246990;
    background-repeat: no-repeat;
    background-position: top center;
    max-height: 600px;
    /* background-size: cover; */
    background-attachment: fixed;
}

header .menu {
    margin: 40px 0px;
    text-align: right;
    background-attachment: fixed;
}

header .menu a {
    margin: 0px 20px;
    color: #fff;
    padding-bottom: 9px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-size: 1em;
}

header .menu a:hover {
    border-bottom: 2px solid #fff;
}

header .contenedor-texto {
    display: flex;
    margin: 100px;
    justify-content: center;
    align-content: center;
}

header .contenedor-texto .texto {
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    text-align: center;
    padding: 20px 60px;
}

header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2 {
    color: #fff;
    font-weight: 300;
    margin: 0;
}

header .contenedor-texto .texto .nombre {
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 50px;
}

header .contenedor-texto .texto .profesion {
    font-size: 25px;
    line-height: 25px;
}


/* -------------------------- MAIN ------------------------*/

.main .contenedor {
    overflow: visible;
}

.main .acerca-de {
    text-align: center;
}

.main .acerca-de .foto {
    margin-top: -60px;
}

.main .acerca-de .foto img {
    vertical-align: top;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, .2);
}

.main .acerca-de .texto {
    color: #5a5a5a;
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;
}

.main .acerca-de .texto .titulo {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #dd820d;
    text-align: center;
}

.main .acerca-de .texto .bold {
    color: #3895ea;
    text-decoration: underline;
}

.main .trabajos {
    background: #f2f2f2;
    padding: 60px 0;
}

.main .trabajos .contenedor {
    overflow: hidden;
}

.main .trabajos .titulo {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #323068;
    text-align: center;
}

.main .trabajos .contenedor-trabajos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .trabajos .contenedor-trabajos .trabajo {
    width: 23%;
    margin-bottom: 40px;
}

.main .trabajos .contenedor-trabajos .trabajo .thumb {
    width: 100%;
    margin-bottom: 10px;
}

.main .trabajos .contenedor-trabajos .trabajo .thumb img {
    width: 100%;
    vertical-align: top;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.main .trabajos .contenedor-trabajos .trabajo .thumb img:hover {
    opacity: .5;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion {
    text-align: center;
}

.main .trabajos .contenedor-trabajos .trabajo .nombre {
    font-weight: 700;
    color: #3895ea;
    margin-bottom: 10px;
}

.main .trabajos .contenedor-trabajos .trabajo .categoria {
    font-size: 14px;
    color: #636363;
}


/*----------------FOOTER--------------------*/

footer .contacto {
    padding: 60px 0;
    background: #ccc;
}

footer .contacto .contenedor .titulo {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #3895ea;
    text-align: center;
}

footer .contacto .contenedor .formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .contacto .contenedor .formulario input[type="text"],
footer .contacto .contenedor .formulario input[type="email"],
footer .contacto .contenedor .formulario textarea {
    border: 2px solid #cecece;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 15px 20px;
    font-size: 20px;
    color: #a4a4a4;
}

footer .contacto .contenedor .formulario input[type="text"]:focus,
footer .contacto .contenedor .formulario input[type="email"]:focus,
footer .contacto .contenedor .formulario textarea:focus {
    outline: none;
    border: 2px solid #3895ea;
}

footer .contacto .contenedor .formulario input[type="text"],
footer .contacto .contenedor .formulario input[type="email"] {
    width: 49%;
    margin-bottom: 15px;
}

footer .contacto .contenedor .formulario textarea {
    width: 100%;
    height: 100px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 300px;
    margin-bottom: 15px;
}

footer .contacto .contenedor .formulario .boton {
    margin: auto;
    outline: none;
    background: #3895ea;
    color: #fff;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 15px 40px;
    cursor: pointer;
}

footer .contacto .contenedor .formulario .boton:hover {
    background: #387bea;
}

footer .redes-sociales {
    background: #1e2b38;
    padding: 60px 0;
}

footer .redes-sociales .contenedor {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}

footer .redes-sociales a {
    color: #fff;
    text-align: center;
    width: 100px;
    display: inline-block;
    padding: 15px 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-size: 30px;
    /* background: #ccc; */
    margin: 0 20px;
}

footer .redes-sociales .contenedor .email a:hover {
    background: #dd4b39;
}

footer .redes-sociales .contenedor .whatsapp a:hover {
    background: #25d366;
}


/*------------------- Media Queris ----------*/

@media screen and (max-width:800px) {
    header .menu {
        text-align: center;
    }
    .main .trabajos .contenedor .trabajo {
        width: 46%;
    }
}

@media screen and (max-width:500px) {
    header .contenedor-texto {
        margin: 100px 0px;
    }
    header .contenedor-texto .texto .nombre {
        font-size: 30px;
        line-height: 35px;
    }
    header .contenedor-texto .texto .profesion {
        font-size: 18px;
    }
    footer .redes-sociales .contenedor {
        flex-wrap: wrap;
        padding: 20px 0px;
    }
}

@media screen and (max-width:399px) {
    header .menu a {
        margin: 0px 10px;
    }
    header .contenedor-texto .texto {
        padding: 10px 30px;
    }
    .main .acerca-de .contenedor .texto p {
        font-size: 15px;
    }
    /* TODO Esto permite que los trabajos ocupen el 100% */
    .main .trabajos .contenedor .trabajo {
        width: 100%;
    }
}

@media screen and (max-width:330px) {
    header .menu a {
        margin: 0px 4px;
        font-size: 14px;
    }
}