.menu {
    z-index: 100;
    position: fixed;
    margin: 40px 0px;
    /* left: 50px; */
    left: 85%;
    background-attachment: fixed;
}

.menu a {
    margin: 0px 20px;
    color: #fff;
    padding-bottom: 9px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-size: 1.2em;
}

.menu a:hover {
    border-bottom: 2px solid #fff;
}

.wrapper {
    min-height: 100vh;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    color: #fff;
    position: relative;
}

section {
    height: 100vh;
    font-size: 40px;
    font-weight: 100;
    background-color: #22a8f036;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-child(1) {
    background: white;
}

section:nth-child(2) {
    background: #F64747;
}

section:nth-child(3) {
    background: #22A7F0;
}

section:nth-child(4) {
    background: #03C9A9;
}

section:nth-child(5) {
    background: #F9690E;
}

.nav__wrapper {
    position: fixed;
    height: 100%;
    /* padding: 10px; */
    padding: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

.nav {
    /* margin: 0 0 100px 30px; */
    margin: 0 0 -170px -16px;
    list-style-type: none;
}

.nav__counter {
    font-size: 24px;
    transition: all 0.15s ease-out;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
}

.nav__title {
    font-size: 32px;
    font-weight: 300;
    margin: 0 0 0.25em;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
    -webkit-transition: ;
    -moz-transition: ;
    -ms-transition: ;
    -o-transition: ;
}

.nav__body {
    font-weight: 100;
    /* font-size: 18px; */
    font-size: 20px;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
    -webkit-transition: ;
    -moz-transition: ;
    -ms-transition: ;
    -o-transition: ;
}

.nav li {
    position: relative;
    transition: all 0.3s ease-out;
    margin-bottom: 1em;
    -webkit-transition: ;
    -moz-transition: ;
    -ms-transition: ;
    -o-transition: ;
}

.nav li:after {
    content: "";
    display: block;
    border-left: 2px solid white;
    border-top: 2px solid white;
    height: 250px;
    width: 20px;
    position: absolute;
    left: -30px;
    top: 15px;
}

.nav li a {
    display: block;
    padding: 0;
    color: #fff;
    transition: all 0.15s ease-out;
    -webkit-transition: ;
    -moz-transition: ;
    -ms-transition: ;
    -o-transition: ;
}

.nav li a:hover {
    background-color: transparent;
    padding-left: 1em;
}

.nav li a:focus {
    background-color: transparent;
}

.nav li.active {
    pointer-events: none;
    /* este padding hace que la linea blanca se separe o se hcerque */
    padding-left: 1em;
    /* estos valores ajustan el contenido del texco que aparecera */
    height: 81vh;
    width: 60%;
}

a {
    text-decoration: none;
}

.nav li.active:after {
    width: 35px;
    height: 100%;
    top: 35px;
}

.nav li.active .nav__counter {
    font-size: 48px;
}

.nav li.active .nav__title {
    height: 40px;
    opacity: 1;
    overflow: visible;
}

.nav li.active .nav__body {
    height: auto;
    opacity: 1;
    overflow: visible;
    width: 100%;
}


/*# sourceMappingURL=timeline.css.map */


/*------------------- Media Queris ----------*/

@media screen and (max-width:1380px) {
    .nav {
        margin: 0 0 -200px -16px;
    }
    .nav__body {
        font-size: 25px;
    }
    .menu {
        left: 80%;
    }
    .menu a {
        font-size: 1.8em;
    }
    .nav__wrapper {
        padding: 30px;
    }
    .nav li.active {
        pointer-events: none;
        /* este padding hace que la linea blanca se separe o se hcerque */
        padding-left: 1em;
        /* estos valores ajustan el contenido del texco que aparecera */
        height: 81vh;
        width: 60%;
    }
}

@media screen and (max-width:900px) {
    .nav {
        margin: 0 0 -180px -16px;
    }
    .nav__body {
        font-size: 16px;
    }
    .menu {
        left: 80%;
    }
    .menu a {
        font-size: 1.2em;
    }
    .nav__wrapper {
        padding: 30px;
    }
    .nav li.active {
        pointer-events: none;
        /* este padding hace que la linea blanca se separe o se hcerque */
        padding-left: 1em;
        /* estos valores ajustan el contenido del texco que aparecera */
        height: 81vh;
        width: 94%;
    }
}

@media screen and (max-width:500px) {
    .nav {
        margin: 0 0 -180px -16px;
    }
    .nav__body {
        font-size: 15px;
    }
    .menu {
        left: 73%;
    }
    .menu a {
        font-size: .9em;
    }
    .nav__wrapper {
        padding: 13px;
    }
    .nav li.active {
        pointer-events: none;
        /* este padding hace que la linea blanca se separe o se hcerque */
        padding-left: 1em;
        /* estos valores ajustan el contenido del texco que aparecera */
        height: 81vh;
        width: 95%;
    }
}

@media screen and (max-width:399px) {
    .nav {
        margin: 0 0 -160px -16px;
    }
    .nav__body {
        font-size: 14px;
    }
    .menu {
        left: 70%;
    }
    .menu a {
        font-size: .8em;
    }
    .nav__wrapper {
        padding: 10px;
    }
    .nav li.active {
        pointer-events: none;
        /* este padding hace que la linea blanca se separe o se hcerque */
        padding-left: 0em;
        /* estos valores ajustan el contenido del texco que aparecera */
        height: 81vh;
        width: 94%;
    }
}

@media screen and (max-width:330px) {
    .nav {
        margin: 0 0 -165px -19px;
    }
    .nav__body {
        font-size: 13.5px;
    }
    .menu {
        left: 70%;
    }
    .menu a {
        font-size: .8em;
    }
    .nav__wrapper {
        padding: 9px;
    }
    .nav li.active {
        pointer-events: none;
        /* este padding hace que la linea blanca se separe o se hcerque */
        padding-left: 0em;
        /* estos valores ajustan el contenido del texco que aparecera */
        height: 81vh;
        width: 95%;
    }
}

@media screen and (max-width:310px) {
    .nav {
        margin: 0 0 -165px -39px;
    }
    .nav__body {
        font-size: 13.5px;
    }
    .menu {
        left: 60%;
    }
    .menu a {
        font-size: .8em;
    }
    .nav__wrapper {
        padding: 5px;
    }
    .nav li.active {
        pointer-events: none;
        /* este padding hace que la linea blanca se separe o se hcerque */
        padding-left: 0em;
        /* estos valores ajustan el contenido del texco que aparecera */
        height: 81vh;
        width: 92%;
    }
    .nav li.active:after {
        width: 25px;
    }
}