@mixin colores($fondo, $articulo) {
    body {
        background-color: $fondo;
    }
    .articulo {
        background-color: $articulo;
    }
}

@mixin contorno($margen, $letras) {
    .articulo {
        border: $margen solid 10px;
        color: $letras;
    }
}

@include colores(#ff8000, #ccc);
@include contorno(black, yellow);