body {
    background-color: #ccc;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.articulo {
    .titulo {
        letter-spacing: 5px;
        font-weight: bolder;
        position: absolute;
        left: 40%;
        top: 0px;
        color: black;
        border: 10px solid #fff;
    }
    p {
        border: 10px solid #fff;
        padding: 20px;
        margin-top: 100px;
        a {
            text-decoration: none;
            font-size: 16px;
        }
    }
}